version: '3.8'
services:
  app:
    image: aericho/spring-test:latest  
    container_name: spring-app
    ports:
      - "8081:8080"
    environment:
      - DB_HOST=db
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"